
.seat {
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: #6b6161 ;
    color: #fff;
    font-size: 12px;
}

.bookedSeat {
    background-color: #6b6161 ;
    cursor: no-drop;
}

.vipSeat {
    background-color: #d63535 
}

.selectingSeat {
    background-color: #28b15f !important
}
.checkout {
    padding-left: 10px;
    font-size: 30px;
    padding-right: 20px;
    color: rgb(235, 17, 28);
}
.flexCheckout {

    align-items: center;
    justify-content: space-between;
}
.fa.fa-times {
    color: white;
    padding: 0;
    font-size: 15px;
}


.seatTable{
    margin: 10px auto;
}
.ant-tabs{
    color: wheat !important
}
.ant-tabs-extra-content{
    margin: 0 35px;
}
.btnlogOut{
    margin-left: 20px;
    background-color: wheat;
    color: rgb(177, 45, 45) !important;
    padding: 5px 10px;
    border-radius: 12px;
}

@media only screen and (max-width: 1279.99px) {
    .seat{
        margin: 7px
    }
}
@media only screen and (max-width: 767.99px) {
    .seat{
        margin: 5px
    }
}


@media only screen and (max-width: 650.990px) {
    .seat{
        margin: 3px;
        height: 30px;
        width: 30px;
    }
    button.seat {
        font-size: 10px !important

    }
    .fa.fa-times{
        font-size: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .seat{
        margin: 1px;
        height: 23px;
        width: 23px;
    }
}
@media screen and (max-width: 400px) {
    .seat{
        margin: 1px;
        height: 20px;
        width: 20px;
    }
}