.ant-pagination-item a {
    color: black !important
    
}

.ant-form-item-label > label, 
.ant-picker-header button {
    color: black !important
    ;
}
.ant-pagination-prev button,
.ant-pagination-next button
{
    color: #000 !important;
    background-color: rgb(177, 45, 45) !important;
}